[Unit]
Description=Perform OS setup (%I)
After=getty.target

[Service]
type=oneshot
Environment=DEBIAN_FRONTEND=noninteractive
ExecStartPre=echo "Running OS setup (%I)..."
ExecStart=su - pi bash -c '\
  sudo mkdir -p /var/lib/os-setup; \
  sudo rm -f /var/lib/os-setup/success-%I; \
  /usr/lib/os-setup/setup/setup-%I.sh && sudo touch /var/lib/os-setup/success-%I; \
  sudo shutdown now \
'
StandardOutput=tty

[Install]
WantedBy=getty.target
