[Unit]
Description=Perform OS setup during first boot
After=getty.target

[Service]
type=oneshot
ExecStartPre=echo "Running OS setup..."
ExecStart=/run/os-setup/ci-setup.sh
ExecStartPost=shutdown now
StandardOutput=journal+console

[Install]
WantedBy=getty.target
