[Unit]
Description=Perform OS setup during first boot
After=getty.target

[Service]
type=oneshot
ExecStartPre=echo "Running OS setup..."
ExecStart=bash -c "su - pi /run/os-setup/ci-setup.sh; shutdown now"
StandardOutput=tty

[Install]
WantedBy=getty.target
