[Unit]
Description=Perform booted OS setup
After=getty.target

[Service]
type=oneshot
Environment=DEBIAN_FRONTEND=noninteractive
ExecStartPre=echo "Running OS setup as user %I..."
ExecStart=su - %I bash -c '\
  sudo mkdir -p /var/lib/os-setup; \
  sudo rm -f /var/lib/os-setup/success-in-vm; \
  /usr/lib/os-setup/setup/setup-in-vm.sh && sudo touch /var/lib/os-setup/success-in-vm; \
  sudo shutdown now \
'
StandardOutput=tty

[Install]
WantedBy=getty.target
